.header{
    position:fixed;
    top: 0;
    display:flex;
    background-color: deepskyblue;
    width: 100%;
    height: 60px;
    z-index: 8;
}

.header a{
    color:white;
    text-decoration: none;
    margin:auto;
    font-size: 1.85rem;
    font-weight: bold;
}

.header ul{
    list-style: none;
}

.logout{
    cursor: pointer;
}

img{
    max-width: 60px;
}